@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root{
  --heading_color: ;
  --white-color:#fff;
  --primary-color:  black;
  --secondary-color: ;
  --tertiary-color:  ;
  --black-color: ;
  --font-fam1: 'Kalam', cursive;
  --font-fam2: 'Alata', sans-serif;
}
body{

}
p{

}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}