@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
:root{
  --heading_color: ;
  --white-color:#fff;
  --primary-color:  #101010;
  --secondary-color: #1c1c1c;
  --tertiary-color:  ;
  --black-color: ;
  --font-fam1: 'Alata', sans-serif;
}
body{

}
p{
  padding: 0px;
  margin: 0px;
}
h1,h2,h3,h4,h5,h6{

}
h1,.h1{
  
}
h2,.h2{

}
h3,.h3{

}
h4,.h4{

}
h5,.h5{

}
h6,.h6{

}
.nav-link{
  color: var(--white-color);
  margin: 0px;
}
.nav-link:hover{
  cursor: pointer;
  color: var(--white-color);
}
@media only screen and (min-width:320px) and (max-width:480px){
  
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
@media only screen and (min-width:1025px) and (max-width:1200px){

}
.home{
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 100px 0;
  height: 700px;
  font-family: var(--font-fam1);
}
.topic{
  text-align: center;
  margin-bottom: 28px;
}
.topic h3{
  font-weight: bold;
}
.topic p{
  opacity: 70%;
}
.meeting-main{
  
}
.meeting-card{
  border: solid 0.2px var(--white-color);
  padding: 20px;
  border-radius: 2px;
}
.meeting-card h4{
  font-size: 20px;
}
.time{

}
.time ul{
  padding: 0px !important;
  margin: 0px !important;
}
.time ul>li{
  display: inline-block;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 8px;
}
.time ul>li>p{
  font-size: 12px;
}
.time ul>li>p>span{
  margin-right: 4px;
}
.meeting-schedule-main{
  background-color: var(--secondary-color);
  border: solid 1px var(--white-color);
}
.left-meet{
  padding: 20px;
  text-align: center;
}
.left-meeting-head{

}
.left-meeting-head img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.left-meeting-head h4{
  margin-top: 12px;
  opacity: 70%;
  font-size: 20px;
}
.left-meeting-head h2{
  font-size: 25px;
}
.left-meet-content{

}
.left-meet-content ul{
  padding: 0px;
}
.left-meet-content ul>li{
  list-style-type: none;
  opacity: 70%;
} 
.left-meet-content ul>li>p{
  font-size: 14px;
}
.left-meet-content ul>li>p>span{
  font-size: 14px;
  margin-right: 12px;
}
.right-meet{
  text-align: center;
  margin-top: 116px;
}
.time-picker{
  padding: 20px;
  text-align: center;
}
.time-picker ul{
  padding: 0px;
}
.time-picker ul>li{
  list-style-type: none;
  /* display: inline-block; */
}
.time-picker ul>li>p{

}
.nav-tabs .nav-link.active{
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background-color: var(--secondary-color7);
}
.nav-tabs .nav-link {
  color: var(--white-color);
  padding: 8px 16px ;
}
.nav-tabs .nav-link:hover{
  background-color: var(--primary-color);
  border: 1px solid var(--white-color);
 
}
.nav-tabs{
  margin-left: 86px;
}
.hours-display-main{
  height: 120px !important;
  overflow-y: scroll;
}
.hours-display{
  cursor: pointer !important;
}
.hours-display:hover{
  background-color: var(--white-color);
  display: inline-block;
  padding: 0px 16px;
  color: var(--primary-color) !important;
}
.hours-display p{
 
}
.submit{
  margin-top: 12px;
  text-align: center;
}
.submit button:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
.final-meet{
  
}